<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.auction.mapper.ItemMapper">

    <select id="getAllItems" resultType="kopo.auction.domain.Item">
        SELECT
            id, title, description,
            starting_price       AS startingPrice,
            highest_bid          AS highestBid,
            highest_bidder_id    AS highestBidderId,
            is_sold              AS isSold,
            created_at           AS createdAt,
            updated_at           AS updatedAt
        FROM auction_items
        WHERE is_sold = FALSE
    </select>

    <insert id="addItem"
            parameterType="kopo.auction.domain.Item"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO auction_items
            (title, description, starting_price)
        VALUES
            (#{title}, #{description}, #{startingPrice})
    </insert>

    <update id="deleteItem" parameterType="long">
        UPDATE auction_items
        SET is_sold = TRUE
        WHERE id = #{id}
    </update>

</mapper>
